.modal {
  z-index: 9999;
  position: absolute;
  max-width: 1200px;
  /* top: 50%;
  left: 50%;
  right: auto;
  bottom: 12rem;
   */
  /* top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; */
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translateX(50%); */
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  transform: translateY(-50%);
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(78, 82, 87, 0.82);
}
